BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 88
PointerAlignment: Left
DerivePointerAlignment: false
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
SpacesBeforeTrailingComments: 2
