Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-redundant-access-specifiers,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-redundant-function-ptr-dereference,
  readability-redundant-member-init,
  readability-redundant-preprocessor,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr,
  readability-redundant-string-init
WarningsAsErrors: ''
HeaderFilterRegex: '.*(include|src)/.*'
FormatStyle: file
